blog {
  font-size: 14px;
  /* color: #538b01; */
  /* font-weight: bold; */
  /* font-style: italic; */
}

.seasonality {
  color: #5EBB78;
}

.mitigation {
  color: #658EC1;
}

/* * {
  box-sizing: border-box;
} */

dl>div {
  padding: 24px 0 0 0;
}

dt {
  font-weight: normal;
  /* border-bottom: 1px solid #989ea4;
  border-top: 1px solid #717d85; */
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  z-index: 1;
}

dd {
  margin: 0;
  padding: 0 0 0 12px;
  /* white-space: nowrap; */
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
}

dd+dd {
  border-top: 1px solid #ccc;
}

top {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}