blog {
  font-size: 14px;
  /* color: #538b01; */
  /* font-weight: bold; */
  /* font-style: italic; */
}

.seasonality {
  color: #5EBB78;
}

.mitigation {
  color: #658EC1;
}

/* * {
  box-sizing: border-box;
} */

dl>div {
  padding: 24px 0 0 0;
}

dt {
  font-weight: normal;
  /* border-bottom: 1px solid #989ea4;
  border-top: 1px solid #717d85; */
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  z-index: 1;
  background-color: #f5f4f4;
}

dd {
  margin: 0;
  padding: 0 0 0 12px;
  /* white-space: nowrap; */
  z-index: 100;
  /* background-color: rgba(255, 255, 255, 1.0); */
}

dd+dd {
  border-top: 1px solid #cccccc;
}

top {
  position: relative;
  background-color: rgba(255, 255, 255, 1.0);
  z-index: 100;
}

break {
  line-height: 1000%;
}

/* .container {
  margin-left: -30px;
  display: inline-grid;
  align-items: flex-end;
}

.column {
  width: auto;
  position: relative;
  display: block;
  border: 1px solid #ccc;
} */
.container {
  display: inline-grid;
  grid-template-columns: auto auto;
  /* background-color: dodgerblue; */
  padding: 0px;
  grid-gap: 0;
  align-items: flex-end;
}

.container>div {
  /* background-color: #983eff; */
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-align: center;
}